#switch {
  position: relative;
  width: 64px;
  height: 32px;
  margin: 4px auto;
  display: flex;
  align-items: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#switch button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease, outline 0.3s ease;
}

#switch button:hover {
  outline: 4px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.light #switch button {
  left: 4px;
}

.dark #switch button {
  left: calc(100% - 32px);
}

/* Animation for smooth transitions */
@keyframes slide-in {
  from {
    left: 4px;
  }
  to {
    left: calc(100% - 32px);
  }
}

@keyframes slide-out {
  from {
    left: calc(100% - 32px);
  }
  to {
    left: 4px;
  }
}
